* {
    padding: 0;
    margin: 0;
}

.enlace-container {
    padding-top: 20px;
}
.header-enlace {
    text-decoration: none;
    color: white; 
    font-family: 'Cinzel', serif;
    margin: 40px;
}

.header-enlace:hover {
    color: red;
    padding: 20px;
}

ul {
    list-style-type: none;
}

/* HEADER */
.header-container {
    width: 100%;
    background-color: black;
}

.header-item {
    display: flex;
    justify-content: space-evenly;
}

.enlace-container {
    margin-left: 70px;
}

.logo-name {
    color: white;
    padding-top: 30px;
    display: inline-block;
    vertical-align: top;
    font-family: 'Domine', serif;
    padding-right: 15px;
}


/* HEADER MOBILE */
@media screen and (max-width: 945px) {
    .header-enlace {
        margin: 5px;
    }

    .logo-name {
        padding-bottom: 15px;
    }

    .enlace-container {
        margin-left: 10px;
    }
}
/* FIN HEADER */

/* MAIN */
.main-container {
    width: 100%;
}

.section-item {
    padding-top: 30px;
    padding-left: 30px;
}   

.titulo {
    border: solid black 5px;
    width: 205px;
    background-color: red;
    font-family: 'Merriweather', serif;
    font-size:25px
}

.fut-arg {
    width: 228px;
}

.destacado {
    width: 170px;
}

.fut-retro {
    width: 170px;
}

.sel-arg {
    width: 265px;
}

.img-container {
    border: solid black 5px;
    margin-bottom: 50px;
    margin-right: 10px;
}

.img-section {
    width: 38vh;
    height: 38vh;
    padding-top: 50px;
    padding-left: 15px;
}

.section-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-camiseta {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}

.info-camiseta-precio {
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

.logo-section-2 {
    padding-left: 700px;
}

.logo-name-section-2 {
    font-family: 'Domine', serif;
    padding-left: 708px;
}
/* MAIN MOBILE */
@media screen and (max-width: 945px) {
    .img-container {
        border: solid black 3px;
        width: 100%;
        margin-left: 10px;
    }

    .img-section {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo-section-2 {
        padding-left: 115px;
    }

    .logo-name-section-2 {
        padding-left: 120px;
    }
}
/* FIN MAIN MOBILE */
/* FIN MAIN */

/* FOOTER */
.footer-container {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    background-color: black;
}

h3 {
    color: white;
    margin-left: 28px;
}

a {
    text-decoration: none;
    color: white;
}

.footer-enlace {
    margin: 30px;
    margin-right: 100px;
    font-family: 'Cinzel', serif;
    color: white;
} 

.titulo-enlace-footer {
    font-family: 'Merriweather', serif;
}

/* FOOTER MOBILE */
@media screen and (max-width: 945px) {
    .footer-container {
        flex-direction: column;
    }
}


