@import "../base/variables";
footer {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    background-color: $background-general;
    a {
        color: white;
    }
    nav {
        .titulo-enlace-footer {
            font-family: 'Merriweather', serif;
            color: white;
            padding-left: 50px;
        }
        ul {
            .footer-enlace {
                margin: 30px;
                margin-right: 100px;
                font-family: 'Cinzel', serif;
                a {
                    color: $font-color-principal;
                    &:hover {
                        color: red;
                    }
                }
                .logo-whatsapp {
                    position: fixed;
                    bottom: 20px;
                    right: 5px;
                }
            }
        }
    }

    @media screen and (max-width: 945px) {
        flex-direction: column;
    }
}
