footer {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    background-color: black;
    a {
        color: white;
    }
    nav {
        .titulo-enlace-footer {
            font-family: 'Merriweather', serif;
            color: white;
            padding-left: 50px;
        }
        ul {
            .footer-enlace {
                margin: 30px;
                margin-right: 100px;
                font-family: 'Cinzel', serif;
                color: white;
            }
        }
    }

    @media screen and (max-width: 945px) {
        flex-direction: column;
    }
}




































// footer {
//     width: 100%;
//     padding-top: 100px;
//     display: flex;
//     justify-content: space-around;
//     background-color: black;
    
//     h3 {
//         color: white;
//         margin-left: 28px;
//     }
    
//     a {
//         text-decoration: none;
//         color: white;
//     }
    
//     .footer-enlace {
//         margin: 30px;
//         margin-right: 100px;
//         font-family: 'Cinzel', serif;
//         color: white;
//     } 
    
//     .titulo-enlace-footer {
//         font-family: 'Merriweather', serif;
//     }
    
//     @media screen and (max-width: 945px) {
//         display: flex;
//         flex-direction: column;
//     }
// }