@import "../base/variables";
header {
    width: 100%;
    .header-container {
        width: 100%;
        background-color: $background-general;
        div {
            .logo-name {
                color: white;
                padding-top: 30px;
                display: inline-block;
                vertical-align: top;
                font-family: 'Domine', serif;
                padding-right: 15px;
            }
            .enlace-container {
                padding-top: 20px;
                margin-left: 70px;
                .header-enlace {
                    text-decoration: none;
                    color: $font-color-principal;
                    font-family: 'Cinzel', serif;
                    margin: 40px;
                    &:hover {
                        color: red;
                        padding: 20px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 945px) {
        .header-container {
            div {
                .logo-name {
                    padding-bottom: 15px;
                    font-size: 20px;
                }
                .enlace-container {
                    margin-left: 10px;
                    .header-enlace {
                        margin: 5px;
                    }
                }
            }
        }
    }
}

























