main {
    width: 100%;
    .section-item {
        padding-top: 30px;
        padding-left: 30px;
    }
    
    .titulo {
        border: solid black 5px;
        width: 205px;
        background-color: red;
        font-family: 'Merriweather', serif;
        font-size:25px
    }
    
    .destacado {
        width: 170px;
    }

    .fut-arg {
        width: 228px;
    }

    .sel-arg {
        width: 265px;
    }

    .fut-retro {
        width: 170px;
    }
    
    .img-container {
        border: solid black 5px;
        margin-bottom: 50px;
        margin-right: 10px;
    }
    
    .img-section {
        width: 38vh;
        height: 38vh;
        padding-top: 50px;
        padding-left: 15px;
    }
    
    .section-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .info-camiseta {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5px;
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
    }
    
    .info-camiseta-precio {
        display: flex;
        justify-content: center;
        font-family: 'Oswald', sans-serif;
    }
    
    .logo-section-2 {
        padding-left: 700px;
    }
    
    .logo-name-section-2 {
        font-family: 'Domine', serif;
        padding-left: 708px;
    }
    
    @media screen and (max-width: 945px) {
        width: 100%;
        .img-container {
            border: solid black 3px;
            width: 100%;
            margin-left: 10px;
        }
    
        .img-section {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    
        .logo-section-2 {
            padding-left: 160px;
        }
    
        .logo-name-section-2 {
            padding-left: 165px;
        }
    }
}